/*  your css code here. If applicable */
header{
    border: 1px solid black;
    width: 70%;
    height: 1000px;
    background-color:#f5f5f5;
    padding: 20px;
	text-align:center;
}
.heading{
    width: 100%;
    border: 1px solid black;
    background-color: #011e29;
    text-align: center;
    color: white;
}
.latest-news-section{
    border: 1px solid black;
    width: 18%;
    height: 18%;
    border-radius: 10px;
    margin: 10px 5px 0px 30px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 10%;

}

.Marticle {
    border: 1px solid black;
    width: 22%;
    height: 22%;
    border-radius: 10px;
    position: absolute;
    top: 11%;
    left: 21%;
    background-color: white;
    text-align: center;
    font-size: 20px;
}
.pictorial-news-section{
    border: 1px solid black;
    position: absolute;
    top: 11%;
    left: 44% ;
    border-radius: 10px;
    width: 22%;
    height: 65%;
    text-align: center;
    background-color: #fff;
    
}
.pictorial-news-section h3{
    font-size: 20px;
}
